@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-lemon-light: #FEF08A;
  --color-lemon-DEFAULT: #FACC15;
  --color-lemon-dark: #A16207;

  --color-orange-light: #FDBA74;
  --color-orange-DEFAULT: #F97316;
  --color-orange-dark: #C2410C;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-float: float 6s ease-in-out infinite;
  --animate-spin-slow: spin 12s linear infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}

:root {
  --background: #171717;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

